<p id="notice"><%= notice %></p>

    <div class="dropdown giveMeSpace">
      <select name="sort" class="dropdown-menu">
        <option>Contract Type </option>
        <option>Salary        </option>
        <option>Grade         </option>
      </select>
    </div>



    <% @staff.all.each do |s| %>
      <h4>
        <%= link_to s.name, edit_staff_path(s), class: "btn btn-primary", style:"color:white" %>
      </h4>

      <%
        @contracts = s.contracts

        if params[:sort_by] == "Contract Type" then
          @contracts = s.contracts.order(:post)
        elsif params[:sort_by] == "Salary" then
          @contracts = s.contracts.order(:salary)
        elsif params[:sort_by] == "Grade" then
          @contracts = s.contracts.order(:grade)
        end
      %>

      <% Array(@contracts).each do |c| %>

        <div class="contractResult searchResult row align-items-center">

          <div class="col-2">
              <img src="https://raw.githubusercontent.com/0503177/contrack/master/public/img/contract.png" class="photoOutline">
          </div>

          <div class="col-6">
              <div class="row">Employee: <%= s.name %> </div>
              <div class="row">Contract Type: <%= c.post %></div>
              <div class="row">Salary: <%= c.salary %></div>
              <div class="row">Grade: <%= c.grade %></div>
          </div>

          <div class="col-2">
              <%= link_to "View/Edit", edit_contract_path(c), class: "btn btn-primary", style:"color:white" %>
          </div>

        </div>
      <% end %>
    <% end %>
<br>
