<h1>New Contract</h1>

<%= form_for Contract.new do |f| %>

  <div class="row justify-content-center">
      <div class="col-4">

          <label for="firstName">Contract Type</label>
          <%= f.select :post, [["Permanent"], ["Fixed-term"], ["Hourly"]],{}, class:"form-control" %>

          <label for="dateOfBirth">Start Date</label>
          <%= f.date_field :startDate, class:"form-control" %>

          <label for="dateOfBirth">End Date</label>
          <%= f.date_field :endDate, class:"form-control" %>
      </div>

      <div class="col-4">
          <div>
              <label for="homeAddress1">Grade</label>
              <%= f.text_field :grade, class:"form-control" %>
          </div>

          <label for="homePostcode">Salary</label>
          <%= f.number_field :salary, class:"form-control" %>

          <label for="homePostcode">Annual Leave</label>
          <%= f.number_field :annualLeave, class:"form-control" %>

          <label for="homePostcode">Staff</label>
          <%= f.select :staff, Staff.all.map(&:name), {}, class:"form-control" %>
      </div>
  </div>

  <div class="row justify-content-center">
      <%= f.submit "Save", class:"btn btn-primary giveMeSpace" %>
      <%= link_to "Back", contracts_path, class: "btn btn-warning giveMeSpace" %>
  </div>
<% end %>
