<p id="notice"><%= notice %></p>

<h1>Extra Duties</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @extra_duties.each do |extra_duty| %>
      <tr>
        <td><%= link_to 'Show', extra_duty %></td>
        <td><%= link_to 'Edit', edit_extra_duty_path(extra_duty) %></td>
        <td><%= link_to 'Destroy', extra_duty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Extra Duty', new_extra_duty_path %>
